/*
.nav-wrap {
	background-color: var(--color-first);
}*/
.article-header {
	background-color: var(--color-first);
}
.article-header-wrap {
	padding-top: 68px;
	max-width: 1200px;
	margin: 0 auto;
}
.article-header-container {
	padding-top: 1rem;
}
.article-header-text {
	color: var(--color-second);
	padding-bottom: 3rem;
}
.article-header-text span {
	display: block;
	width: fit-content;
	font-size: 0.8rem;
	line-height: 1.6rem;
	font-family: GmarketSansMedium;
	padding: 0px 12px;
	border: 1px solid var(--color-third);
	color: var(--color-third);
	border-radius: .8rem;
	margin-bottom: 1rem;
}
.article-header-text h4 {
	color: var(--color-third);
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.article-header-text h2 {
	font-size: 3.5rem;
	line-height: 1.2;
	margin-bottom: 2rem;
}
.article-header-text h3 {
	font-size: 3.5rem;
	line-height: 1.2;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.article-header-image {
	position: relative;
}
.article-header-container-2 {
	display: grid;
	grid-template-columns: 1.2fr 1fr;
	gap: 2rem;
}
.article-header-text-2 {
	display: flex;
	flex-direction: column;
	justify-content: end;
	padding-bottom: 2rem;
}
.story-label {
    display: block;
    width: fit-content;
    font-size: 0.8rem;
    line-height: 1.6rem;
    font-family: GmarketSansMedium;
    padding: 0px 12px;
    border: 1px solid var(--color-third);
    color: var(--color-third);
    border-radius: .8rem;
}
.article-header-text-2 h2 {
	font-size: 3rem;
	font-family: Paperlogy-8ExtraBold;
	line-height: 1.2;
	color: var(--color-second);
}
.article-header-text-2 h4 {
	color: var(--color-third);
	margin-top: 1.5rem;
	font-weight: 500;
	font-size: 1.5rem;
	letter-spacing: -0.01rem;
}
.article-header-text-2 h3 {
	color: var(--color-third);
	font-family: Paperlogy-2ExtraLight;
	font-size: 2rem;
}
.article-header-text-2 .article-meta {
	text-align: left;
	color: var(--color-third);
	margin: 0;
}
.article-header-image-2 {
	width: 100%;
}
.article-body {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.article-prologue {
	background-color: var(--color-fourth);
    border-radius: 1.5rem;
    margin-top: 6rem;
    padding: 1.6rem 1.8rem;
    color: var(--color-fifth);
    position: relative;
    z-index: 1;
}
.article-prologue::before {
	content: "“";
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(80%) translateY(-31%);
	color: var(--color-fourth);
	font-size: 4rem;
	font-family: SandollSamlipHobbangOutline;
}
.article-prologue::after {
	content: "”";
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateX(-90%) translateY(76%);
	color: var(--color-fourth);
	font-size: 4rem;
	font-family: SandollSamlipHobbangOutline;
}


.article-epilogue {
	width: 100%;
    margin: 10rem auto 0;
    padding: 30px 36px 0;
    background-color: var(--color-fourth);
    position: relative;
    border-radius: 1.5rem;
}
.article-epilogue p {
    padding-bottom: 1.6rem;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.65;
}
.article-epilogue:after {
    position: absolute;
    left: 50%;
    top: -60px;
    width: 1px;
    background-color: var(--color-fourth);
    content: "";
    height: 60px;
}
.article-epilogue:before {
    position: absolute;
    left: 50%;
    top: -71px;
    width: 11px;
    height: 11px;
    margin-left: -5px;
    border: 1px solid var(--color-fourth);
    border-radius: 11px;
    background-color: #fff;
    content: "";
}
.article-meta {
	margin: 2rem 0;
    font-size: .9rem;
    text-align: center;
}
.article-text {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.article-text p {
	font-size: 1.1rem;
	margin-bottom: 2rem;
    line-height: 1.76;
    color: #2a2a2a;
}
.article-text h3 {
	font-size: 2rem;
	color: var(--color-second);
	font-family: Paperlogy-7Bold;
	line-height: 1.3;
	margin: 2rem 0 1rem;
}
.article-text h4 {
	font-size: 2rem;
	color: var(--color-second);
	font-family: Paperlogy-7Bold;
	line-height: 1.3;
	margin: 2rem 0 1rem;
}
.article-text h5 {
	color: var(--color-second);
	font-family: Paperlogy-5Medium;
	font-size: 1.4rem;
	line-height: 1.3;
	letter-spacing: -0.01rem;
	margin: 3rem 0 1rem;
}
.article-text h6 {
	font-size: 1.2rem;
	line-height: 1.3;
	letter-spacing: -0.01rem;
	margin: 3rem 0 1rem;
}
.article-text em {
	font-size: 0.5em;
    vertical-align: top;
    margin-left: 0.1em;
}
.article-text blockquote p {
	text-align: center;
	font-family: Gyeonggi_Batang_Regular;
	font-size: 1.6rem;
	color: var(--color-fourth);
}


.article-image {
	width: 100%;
    max-width: 100vw !important;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 3rem 0 4rem 0;
}
.article-image figure {
    width: 100%;
    max-width: 100vw !important;
}
.article-image figcaption {
	font-size: 0.9rem;
	color: #666;
	margin-top: 0.5rem;
}
.image-dual {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.image-dual-column figure {
	margin-bottom: 2rem;
}

.article-box {
	background-color: #f0f3f9;
	padding: 1.5rem 1.5rem 1rem;
	border-radius: 1rem;
	margin-bottom: 2.5rem;
}
.article-box p {
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}
.article-box ul {
	margin-bottom: 1rem;
}
.article-box ul li {
	margin-bottom: 0.5rem;
	position: relative;
	padding-left: 1rem;
}
.article-box ul li::before {
	content: "•"; /* 중간점 */
	position: absolute;
	left: 0; /* 원하는 위치 조정 */
	color: black; /* 색상 변경 가능 */
}

.article-annotation {
	border-top: 1px solid #999;
	padding-top: 1rem;
}
.article-annotation p {
	font-size: 0.8rem;
	line-height: 1.3;
	margin-bottom: 0.8rem;
	display: flex;
}
.article-annotation p span {
	font-size: 0.8em;
    vertical-align: top;
    margin-right: 0.5em;
}

.chef_recipe {
	background-color: #fff;
	border-top-left-radius: 100% 50%;
  	border-top-right-radius: 100% 50%;
	overflow: hidden;
	padding: 3rem 3rem 2rem;
	margin-top: 5rem;
	border: 1px solid var(--color-second);
}
.recipe_top {
	display: flex;
	justify-content: center;
}
.recipe_top figure {
	width: 20%;
}
h6.recipe_top_text {
	text-align: center;
	font-size: 1.5rem;
	font-family: DaeguCatholicUniversity;
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 5px;
}
.recipe_meta {
	margin: 0rem 0 1rem;
}
.recipe_meta h6 {
	margin-top: 0.3rem;
	font-size: 1.2rem;
}
.recipe_meta em {
	font-size: 0.5rem;
	vertical-align: middle;
	display: inline-block;
	width: fit-content;
	height: 1rem;
	background-color: var(--color-fourth);
	color: #fff;
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
}
.recipe_meta h5 {
	width: fit-content;
	margin: 1rem auto;
	padding: 0 1rem;
	background-color: var(--color-second);
	color: #fff;
	font-size: 1.2rem;
	line-height: 2rem;
	border-radius: 1rem;
}
.recipe_meta p {
	line-height: 1.5;
	margin-bottom: 0;
}
.recipe_image {
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}
.recipe_image_plus {
	position: absolute;
	z-index: 5;
	width: 40%;
	left: 0;
	bottom: 0;
	transform: translateX(calc(-31.25% - 3px)) translateY(1.2rem);
	border: 3px solid #fff;
}
.recipe_container {
	display: grid;
	grid-template-columns: 0.7fr 1fr;
	gap: 2rem;
	position: relative;
	margin-top: 2rem;
	padding-top: 1rem;
}
.recipe_container_last {
	margin-top: 1rem;
	padding-top: 2rem;
}
.recipe_container_last::before {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-image: url(../images/sub_line_recipe.png);
	background-size: 4px 4px;
	background-repeat: repeat-x;
	position: absolute;
	top: 0;
	left: 0;
}
.recipe_stuff h6, .recipe_step h6, .recipe_container p, .recipe_container li {
	font-size: 0.9rem;
}
.recipe_stuff h6, .recipe_step h6 {
	margin-top: 0.3rem;
	margin-bottom: 0.1rem;
}
.recipe_stuff p {
	margin-top: 0rem;
	margin-bottom: 1rem;
}
.recipe_step ul {
	margin-top: 0.5rem;
}
.recipe_step li {
	display: grid;
	grid-template-columns: 1.3rem 1fr;
	align-items: start;
	margin-bottom: 0.5rem;
}
.recipe_step span {
	display: block;
	font-family: Paperlogy-5Medium;
	font-size: 0.5rem;
	line-height: 0.9rem;
	width: 15px;
	height: 15px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 50%;
	margin-top: 0.15rem;
	vertical-align: middle;
}

.detox_box {
	width: 100%;
    max-width: 100vw !important;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.detox_left h5 {
	display: inline-block;
	border-top: 1px solid var(--color-third);	
	color: var(--color-third);
	font-size: 1.2rem;
	margin-top: 0;
}
.detox_right span {
	font-size: 1.3rem;
	font-weight: 700;
}
.detox_right h4 {
	margin-top: 0.5rem;
	font-family: Cafe24Danjunghae;
	font-weight: normal;
}
blockquote.detox_quote {
	margin-bottom: 5rem;
}
blockquote.detox_quote p {
	color: var(--color-third);
	font-family: Gyeonggi_Batang_Regular;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.6;
}

.table-normal {
	border: 1px solid #999;
	width: 100%;
	margin: 0 auto;
}
.table-normal th, .table-normal td {
	border: 1px solid #999;
	font-size: 0.8rem;
	line-height: 1.2;
	padding: 0.4rem;
}
.table-normal th {
	background-color: #f0f3f9;
	font-weight: 500;
}
.table-normal caption {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: -0.01rem;
	margin-bottom: 1rem;
	text-align: left;
}

/* HRDK 사용법 */
.use-box {
	position: relative;
	z-index: 1;
	margin-bottom: 4rem;
}
.use-box-title {
	display: flex;
}
.use-box h6 {
	font-size: 4rem;
	line-height: 1;
	font-family: 'Black Han Sans';
	margin: 0;
	position: relative;
	width: 15%;
}
.use-box h4 {
	margin: 0;
	border: 1px solid #000;
	background-color: var(--color-fourth);
	color: var(--color-fifth);
	padding: 1rem 0 0 2rem;
	font-size: 1.3rem;
	line-height: 1.8rem;
	position: relative;
	flex-grow: 1;
}
.use-box h4::before {
	content: 'Q.';
	font-size: 1.5rem;
	color: var(--color-first);
	font-family: 'Black Han Sans';
	margin-right: 0.2rem;
	font-weight: 100;
}
.use-box p {
	margin: 1rem 0 0 15%;
}
.table-use-box caption {
	font-size: 1.1rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	margin-top: 1rem;
}
.table-use-box tr td {
	border-color: var(--color-first);
	line-height: 1.45;
	word-break: keep-all;
}
.table-use-box {
	margin-top: 1.5rem;
}
.table-use-box tr th {
	background-color: var(--color-first);
	border-color: #fff;
	color: #fff;
}
.table-use-box tbody tr td:first-child {
    border-left-color: #fff;
    text-align: center;
}
.table-use-box tbody tr td:nth-last-child(1) {
	border-right-color: #fff;
}
.table-use-box td li {
	text-align: left;
	padding-left: 0.5rem;
	position: relative;
}
.table-use-box td li::before {
	content: "·";
	position: absolute;
	left: 0;
}

@media (max-width:767px) {
	.article-header-wrap {
		padding: 1rem 0 0;
	}
    .article-header-container.grid {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        gap: 0;
    }
    .article-header-text {
    	padding-bottom: 0;
    }
    .article-header-text h2 {
    	font-size: 2.2rem;
    	word-break: keep-all;
    	width: 80%;
    }
    .article-header-text h3 {
    	font-size: 2.2rem;
    }
    .article-header-text span {
    	font-size: 0.7rem;
    	margin-bottom: 0.5rem;
    }
    .article-header-text h4 {
        font-size: 1rem;
        word-break: keep-all;
    }
    .article-header-image {
    	display: flex;
    	justify-content: flex-end;
    	margin-top: -2rem;
    }
    .article-header-image figure {
    	width: 80%;
    	transform: rotate(3deg) translateY(2rem);
    }
    .article-header-container-2 {
    	grid-template-columns: 1fr;
    }
    .article-header-text-2 {
    	padding: 2rem 1rem;
    }
    .article-epilogue {
    	padding: 1.5rem 1.5rem 0;
    }
    .article-epilogue p {
    	font-size: 1rem;
    }
    .article-prologue {
    	margin: 4rem 1rem 0;
    }
    .article-image {
    	width: 100vw;
    }
    .article-image-container.gap-10 {
    	gap: 0.2rem;
    }
    .article-body.pd-b-100 {
    	padding-bottom: 3rem;
    }
    .article-text h4 {
    	word-break: keep-all;
    	padding: 0 1rem;
    }
    .article-text p {
    	padding: 0 1rem;
    }
    .article-text blockquote p {
    	font-size: 1.2rem;
    	width: 90%;
    }
    .recipe_container {
    	display: flex;
    	flex-direction: column;
    	width: 95%;
    	margin: 0 auto;
    	gap: 0.5rem;
    }
    .use-box h4 {
    	    padding: 1rem 1rem 0 1rem;
    }
}

