:root {
	--color-main-blue: #2d67f7;
	--color-main-purple: #9063d3;
	--color-main-orange: #e3742a;
}

.main-visual {
	width: 100%;
	height: calc(200vh - 68px);
	padding-top: 68px;
	position: relative;
}
.main-video video {
	width: 100%;
}
#dynamic-div {
    position: fixed; /* 화면에 고정 */
    top: 68px; /* 초기 top 값 */
    right: 0; /* 초기 위치 */
    left: auto; /* 왼쪽을 자동 설정 */
    width: 40%; /* 초기 너비 (브라우저의 25%) */
    height: auto; /* 필요하면 높이 설정 */
    padding-left: 50px; /* 초기 padding */
    padding-right: 50px; /* 초기 padding */
    transition: all 0.05s ease-out; /* 부드러운 변화 */
    z-index: 100; /* 다른 요소 위에 위치 */
}
.mobile-video {
	display: none;
}
.mobile-video video {
	width: 100%;
	height: auto;
}

.main-text {
	height: calc(100vh - 68px);
	padding: 0 50px;
}
.animated-text {
    margin: 0; 
    padding: 0;
    height: auto;
    overflow: hidden;
}
.animated-text:last-child {
	 margin-bottom: 3rem;
}
.animated-text span {
    display: block; /* span을 block으로 만들어 애니메이션 적용 */
    transform: translateY(100%); /* 텍스트를 아래로 위치시켜 시작 */
    animation: slideUp 0.5s ease-out forwards; /* 애니메이션 속도 변경 */
    font-size: 2.5rem;
    letter-spacing: -0.04em;
    font-weight: 600;
    line-height: 1.2;
}
.animated-text.big span {
	font-size: 7rem;
	letter-spacing: -0.06em;
    font-weight: 900;
}
.animated-text.big span em {
	font-family: Noto Sans;
}
.animated-text:nth-child(1) span {
    animation-delay: 0s; 
}
.animated-text:nth-child(2) span {
    animation-delay: 0.5s; 
}
.animated-text:nth-child(3) span {
    animation-delay: 1s;
}
@keyframes slideUp {
    0% {
        transform: translateY(100%); /* 텍스트가 아래로 위치 */
    }
    100% {
        transform: translateY(0); /* 위로 올라와서 보이게 */
    }
}

.special-wrap {
	padding-top: 336px;
	padding-bottom: 100px;
}
.special-text {
	text-align: center;
}
.special-text h2 {
	font-size: 5rem;
	line-height: 1.4;
	margin-bottom: 3rem;
}
.special-text h2:after {
	display: block;
	content: "";
	width: 1rem;
	height: .5rem;
	margin: 2.5rem auto 0;
	background-color: var(--color-main-blue);
}
.special-text p {
	font-size: 1.3rem;
}
.special-card {
	width: 100%;
	overflow-x: hidden;
	margin-top: 6rem;
	margin-bottom: 6rem;
	display: flex;
	justify-content: center;
	align-items: start;
}
.card-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 500px;
	position: relative;
	transform-origin: center;
	box-sizing: border-box;
}
.card-container.spread {
	position: relative;
	width: 600px;
	flex-direction: row-reverse;
	text-align: center;
}
.card {
	width: 320px;
	height: 400px;
	border-radius: 30px;
	position: absolute;
	left: 20px;
	top: 20px;
	flex-shrink: 0;
}
.spread .card {
	transition: left .5s ease-in-out,
				z-index 1s ease-in-out 2s,
				top .2s linear .2s;
}
.card-1 {
	transform: rotate(-3deg);
}
.card-2 {
	transform: rotate(2deg);
}
.card-3 {
	transform: rotate(0deg);
	background-color: var(--color-main-blue);
	color: #2d6473;
}
.card-4 {
	transform: rotate(-3deg);
}
.card-5 {
	transform: rotate(-4deg);
}
.spread .card-1 {
	top: 10px;
	left: calc(-100% + 150px);
}
.spread .card-2 {
	top: 50px;
	left: calc(-100% + 400px);
}
.spread .card-3 {
	top: 0px;
	left: calc(50% - 200px);
	width: 400px;
	height: 440px;
}
.spread .card-4 {
	top: 60px;
	left: calc(50% + 150px);
}
.spread .card-5 {
	top: 20px;
	left: calc(100% + 120px);
}
.card-inner {
	color: #fff;
	padding: 50px;
	text-align: left;
}
.card-inner p {
	font-size: 1.2rem;
	margin-bottom: 1.8rem;
	letter-spacing: -0.05rem;
	display: none;
}
.card-inner h4 {
	font-size: 2.2rem;
	letter-spacing: -0.05rem;
	line-height: 1.2;
	display: none
}
.spread .card-inner p, .spread .card-inner h4 {
	display: block;
}
.btn-arrow-right {
	display: inline-block;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	padding: 8px;
	background-size: 24px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="blue"><g><path id="Path" d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill=""/></g></svg>');
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.btn-arrow-right.arrow-purple {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="purple"><g><path id="Path" d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill=""/></g></svg>');
}
.btn-arrow-right.arrow-orange {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="orange"><g><path id="Path" d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill=""/></g></svg>');
}
.btn-arrow-right.arrow-black {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="black"><g><path id="Path" d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill=""/></g></svg>');
}
.card-inner a {
	transition: transform 0.5s ease-in-out;
}
.card-inner a:hover {
	transform: translateY(-15px);
}


.contents-box {
	width: calc(50% - 1rem);
	aspect-ratio: 16 / 9;
	background-size: 70% auto;
	background-position: bottom right;
	background-repeat: no-repeat;
	transition: transform 0.5s ease-in-out;
	position: relative;
}
.contents-box.background-h {
	background-size: auto 99%;
}
.contents-box a {
	color: #fff;
}
.contents-box:hover {
	transform: translateY(-30px);
}
.contents-text span {
	display: block;
	font-size: 1.4rem;
	font-weight: 500;
	margin-bottom: 0.5rem;
	letter-spacing: -0.01rem;
}
.contents-text h4 {
	font-size: 2rem;
	line-height: 1.2;
	letter-spacing: -0.01rem;
	font-family: Paperlogy-7Bold;
}
.contents-box .btn-arrow-right {
	position: absolute;
	bottom: 20px;
	left: 40px;
}

.upgrade-wrap {
	background-color: #eff2f7;
}
.upgrade-wrap h2 {
	font-size: 3rem;
	line-height: 1.4;
	margin-bottom: 3rem;
	margin-top: 3rem;
}
.job-container {
	position: relative;
	transition: transform 0.5s ease-in-out;
}
.job-container.square {
	height: calc(100%);
}
.job-container img {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
/*	transition: filter 0.5s ease;*/
}
.job-container:hover img {
/*	filter: blur(5px);*/
}
.upgrade-text {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	padding: 30px;
	color: #fff;
	transition: transform 0.5s ease-in-out;
}
.job-container:hover {
	transform: scale(1.05);
}
.upgrade-text span {
	display: block;
	width: fit-content;
	padding: 0px 16px;
	border-radius: 20px;
	color: #333;
	font-family: Paperlogy-8ExtraBold;
	font-size: 0.9rem;
	line-height: 1.6;
	font-weight: 400;
	background: #fff;
	margin-bottom: 10px;
}
.upgrade-text.black {
	color: #000;
}
.upgrade-text.black span {
	background-color: #000;
	color: #fff;
}
.upgrade-text.center {
	text-align: center;
}
.upgrade-text.center span {
	margin: 0 auto 10px;
}
.upgrade-text.bottom {
	top: auto;
	bottom: 0;
}
.upgrade-text.text-bg::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 90%; /* 높이의 절반까지만 */
            background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
            z-index: 2; /* 기본 콘텐츠 아래로 배치 */
        }
.upgrade-text span strong {
	font-family: Noto Sans KR;
}
.upgrade-text p {
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 0.5rem;
}
.upgrade-text h4 {
	font-size: 1.4rem;
	line-height: 1.2;
}
.upgrade-text h5 {
	margin-bottom: 0.3rem;
}
.upgrade-text.big p {
	font-size: 1.1rem;
}
.upgrade-text.big h4 {
	font-size: 2rem;
	font-family: Paperlogy-7Bold;
}


.life-image {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border-radius: 50%;
	margin: 20px 40px;
}
.life-container {
	background-color: #fff;
	align-items: center;
	display: flex;
	transition: background-color 0.5s ease;
}
.life-text {
	position: relative;
}
.life-text span {
	font-size: 1.2rem;
	font-weight: 600;
	display: block;
	margin-bottom: 0.5rem;
}
.life-text span em {
	color: var(--color-main-blue);
}
.life-text h4 {
	font-size: 1.4rem;
	line-height: 1.2;
	font-weight: 600;
}
.life-text h4 i {
	font-weight: 300;
	font-size: 1rem;
}
.life-image img {
	transition: transform 0.5s ease-in-out
}
.life-container:hover .life-image img {
	transform: scale(1.2);
}
.life-container:hover {
	background-color: var(--color-main-blue);
}


@media (max-width:767px) {
	
	.main-visual {
	    width: 100%;
	    height: 100vh;
	    padding-top: 5rem;
	    position: relative;
	}
	.main-video {
		display: none;
	}
	.mobile-video {
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.mobile-video-link {
		text-align: right;
		padding: 0.5rem 0.5rem;
	}
	.main-text {
	    height: auto;
	    padding: 0 1rem;
	}
	.animated-text span {
		font-size: 1.5rem;
		line-height: 1.5;
		word-break: keep-all;
	}
	.animated-text.big {
		margin-bottom: 1rem;
	}
	.animated-text.big span {
		font-size: 2.5rem;
		font-weight: 800;
		line-height: 1.3;
	}
	.special-wrap {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.special-text.w-50 {
		width: 100%;
	}
	.special-text h2 {
		font-size: 2.5rem;
		margin-bottom: 2rem;
	}
	.special-text h2:after {
		margin-top: 1.5rem;
	}
	.special-card {
		display: flex;
	    justify-content: center;
	    align-items: start;
	    min-height: 300px;
	    margin-top: 1rem;
	    margin-bottom: 2rem;
	    overflow-x: auto;
	    overflow-y: visible;
	}
	.special-card::-webkit-scrollbar {
		display: none;
	}
	.card-container {
	    display: flex;
	    flex-direction: row-reverse;
	    text-align: center;
	    position: relative;
	    width: 1000px;
	    height: 100%;
	    left: 400px;
	    top: 0;
	}
	.card {
	    width: 200px;
	    height: 250px;
	    border-radius: 1.5rem;
	    flex-shrink: 0;
	}
	.card-1 {
		left: -180px;
	}
	.card-2 {
		left: 20px;
	}
	.card-3 {
		left: -380px;
	}
	.card-4 {
		left: 420px;
	}
	.card-5 {
		left: 220px;
	}
	.card-inner {
		padding: 1rem;	
	}
	.card-inner-text {
		display: block;
	}
	.card-inner-text p {
		display: block;
		font-size: 0.9rem;
		margin-bottom: 1rem;
	}
	.card-inner h4 {
		display: block;
		font-size: 1.2rem;
	}
	.special-text p {
		font-size: 1rem;
	}
	.special-contents-container {
		flex-direction: column;
		gap: 1rem;
	}
	.contents-box {
		width: 100%;
		padding: 0.8rem 1.2rem;
		background-size: auto 70% !important;
	}
	.contents-text span {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
	.contents-text h4 {
		font-size: 1.2rem;
	}
	.btn-arrow-right {
		width: 2rem;
		height: 2rem;
	}
	.upgrade-wrap.pd-50 {
		padding: 1.5rem 1rem 2rem !important;
	}
	.upgrade-wrap h2 {
		margin-top: 0;
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}
	.upgrade-job {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	.upgrade-grid-zone.grid-column-2 {
		gap: 0.5rem;
	}
	.upgrade-text {
		padding: 0 1rem 1rem;
	}
	.upgrade-text span {
		font-size: 0.7rem;
	}
	.upgrade-text p {
		font-size: 0.9rem;
	}
	.upgrade-text h4 {
		font-size: 1.1rem;
		word-break: keep-all;
	}
	.upgrade-text.big p {
		font-size: 0.9rem;
		margin-bottom: 0.1rem;
	}
	.upgrade-text.big h4 {
		font-size: 1.1rem;
	}
	.life-container {
		display: block;
	}
	.life-image {
		flex-basis: 80px;
		width: 80px;
		height: auto;
		flex-shrink: 0;
		border-radius: 0;
		margin: 1rem;
		display: flex;
		align-items: center;
	}
	.life-image figure {
		width: 80px;
		height: 80px;
		overflow: hidden;
		border-radius: 50%;
	}
	.life-text {
		flex-grow: 1;
		padding-right: 1rem;
		word-break: keep-all;
	}
	.life-text span {
		font-size: 0.8rem;
	}
	.life-text h4 {
		font-size: 1rem;
	}

}




