.article-header {
	background-color: var(--color-first);
}
.article-header-wrap {
	padding-top: 68px;
	max-width: 1200px;
	margin: 0 auto;
}
.article-header-container {
	padding-top: 1rem;
}
.article-header-text {
	color: var(--color-second);
	padding-bottom: 3rem;
}
.article-header-text span {
	display: block;
	width: fit-content;
	font-size: 0.8rem;
	line-height: 1.6rem;
	font-family: GmarketSansMedium;
	padding: 0px 12px;
	border: 1px solid var(--color-third);
	color: var(--color-third);
	border-radius: .8rem;
	margin-bottom: 1rem;
}
.article-header-text h4 {
	color: var(--color-third);
	font-size: 1.6rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.article-header-text h2 {
	font-size: 3.5rem;
	line-height: 1.2;
	margin-bottom: 2rem;
}
.article-header-text h3 {
	font-size: 3.5rem;
	line-height: 1.2;
	margin-top: 2rem;
	margin-bottom: 1rem;
}
.article-header-image {
	position: relative;
}
.article-header-image figure {
	width: 100%;
	transform: rotate(3deg) translateY(30px);
	position: relative;
	z-index: 2;
}
.article-body {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.article-epilogue {
	width: 100%;
    margin: 10rem auto 0;
    padding: 30px 36px 0;
    background-color: var(--color-fourth);
    position: relative;
    border-radius: 1.5rem;
}
.article-epilogue p {
    padding-bottom: 1.6rem;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.65;
}
.article-epilogue:after {
    position: absolute;
    left: 50%;
    top: -60px;
    width: 1px;
    background-color: var(--color-fourth);
    content: "";
    height: 60px;
}
.article-epilogue:before {
    position: absolute;
    left: 50%;
    top: -71px;
    width: 11px;
    height: 11px;
    margin-left: -5px;
    border: 1px solid var(--color-fourth);
    border-radius: 11px;
    background-color: #fff;
    content: "";
}
.article-meta {
	margin: 2rem 0;
    font-size: .9rem;
    text-align: center;
}
.article-text {
	margin-top: 5rem;
}
.article-text p {
	font-size: 1.1rem;
	margin-bottom: 2rem;
    line-height: 1.76;
    color: #2a2a2a;
}
.article-text h3 {
	font-size: 2rem;
	color: var(--color-fourth);
	font-family: Paperlogy-7Bold;
	line-height: 1.3;
	margin: 2rem 0 1rem;
}
.article-text h4 {
	font-size: 2rem;
	color: var(--color-fourth);
	font-family: Paperlogy-7Bold;
	line-height: 1.3;
	margin: 2rem 0 1rem;
}
.article-text h5 {
	color: var(--color-fourth);
	font-family: Paperlogy-5Medium;
	font-size: 1.4rem;
	line-height: 1.3;
	letter-spacing: -0.01rem;
	margin: 3rem 0 1rem;
}
.article-text h6 {
	font-size: 1.2rem;
	line-height: 1.3;
	letter-spacing: -0.01rem;
	margin: 3rem 0 1rem;
}
.article-text em {
	font-size: 0.5em;
    vertical-align: top;
    margin-left: 0.1em;
}
.article-text blockquote p {
	text-align: center;
	font-family: Gyeonggi_Batang_Regular;
	font-size: 1.6rem;
	color: var(--color-fourth);
}


.article-image {
	width: 100%;
    max-width: 100vw !important;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 3rem 0 4rem 0;
}
.article-image figure {
    width: 100%;
    max-width: 100vw !important;
}
.article-image figcaption {
	font-size: 0.9rem;
	color: #666;
	margin-top: 0.5rem;
}
.image-dual {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.image-dual-column figure {
	margin-bottom: 2rem;
}

.article-box {
	background-color: #f0f3f9;
	padding: 1.5rem 1.5rem 1rem;
	border-radius: 1rem;
	margin-bottom: 2.5rem;
}
.article-box p {
	font-size: 1.1rem;
	margin-bottom: 1.5rem;
}
.article-box ul {
	margin-bottom: 1rem;
}
.article-box ul li {
	margin-bottom: 0.5rem;
	position: relative;
	padding-left: 1rem;
}
.article-box ul li::before {
	content: "•"; /* 중간점 */
	position: absolute;
	left: 0; /* 원하는 위치 조정 */
	color: black; /* 색상 변경 가능 */
}

.article-annotation {
	border-top: 1px solid #999;
	padding-top: 1rem;
}
.article-annotation p {
	font-size: 0.8rem;
	line-height: 1.3;
	margin-bottom: 0.8rem;
	display: flex;
}
.article-annotation p span {
	font-size: 0.8em;
    vertical-align: top;
    margin-right: 0.5em;
}

.chef_recipe {
	background-color: #fff;
	border-top-left-radius: 100% 50%;
  	border-top-right-radius: 100% 50%;
	overflow: hidden;
	padding: 3rem 3rem 2rem;
	margin-top: 5rem;
	border: 1px solid var(--color-second);
}
.recipe_top {
	display: flex;
	justify-content: center;
}
.recipe_top figure {
	width: 20%;
}
h6.recipe_top_text {
	text-align: center;
	font-size: 1.5rem;
	font-family: DaeguCatholicUniversity;
	text-decoration: underline;
	text-decoration-thickness: 0.5px;
	text-underline-offset: 5px;
}
.recipe_meta {
	margin: 0rem 0 1rem;
}
.recipe_meta h6 {
	margin-top: 0.3rem;
	font-size: 1.2rem;
}
.recipe_meta em {
	font-size: 0.5rem;
	vertical-align: middle;
	display: inline-block;
	width: fit-content;
	height: 1rem;
	background-color: var(--color-fourth);
	color: #fff;
	padding: 0.2rem 0.4rem;
	border-radius: 0.5rem;
	margin-left: 0.5rem;
}
.recipe_meta h5 {
	width: fit-content;
	margin: 1rem auto;
	padding: 0 1rem;
	background-color: var(--color-second);
	color: #fff;
	font-size: 1.2rem;
	line-height: 2rem;
	border-radius: 1rem;
}
.recipe_meta p {
	line-height: 1.5;
	margin-bottom: 0;
}
.recipe_image {
	position: relative;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}
.recipe_image_plus {
	position: absolute;
	z-index: 5;
	width: 40%;
	left: 0;
	bottom: 0;
	transform: translateX(calc(-31.25% - 3px)) translateY(1.2rem);
	border: 3px solid #fff;
}
.recipe_container {
	display: grid;
	grid-template-columns: 0.7fr 1fr;
	gap: 2rem;
	position: relative;
	margin-top: 2rem;
	padding-top: 1rem;
}
.recipe_container_last {
	margin-top: 1rem;
	padding-top: 2rem;
}
.recipe_container_last::before {
	content: '';
	display: block;
	width: 100%;
	height: 4px;
	background-image: url(../images/sub_line_recipe.png);
	background-size: 4px 4px;
	background-repeat: repeat-x;
	position: absolute;
	top: 0;
	left: 0;
}
.recipe_stuff h6, .recipe_step h6, .recipe_container p, .recipe_container li {
	font-size: 0.9rem;
}
.recipe_stuff h6, .recipe_step h6 {
	margin-top: 0.3rem;
	margin-bottom: 0.1rem;
}
.recipe_stuff p {
	margin-top: 0rem;
	margin-bottom: 1rem;
}
.recipe_step ul {
	margin-top: 0.5rem;
}
.recipe_step li {
	display: grid;
	grid-template-columns: 1.3rem 1fr;
	align-items: start;
	margin-bottom: 0.5rem;
}
.recipe_step span {
	display: block;
	font-family: Paperlogy-5Medium;
	font-size: 0.5rem;
	line-height: 0.9rem;
	width: 15px;
	height: 15px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 50%;
	margin-top: 0.15rem;
	vertical-align: middle;
}

.detox_box {
	width: 100%;
    max-width: 100vw !important;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.detox_left h5 {
	display: inline-block;
	border-top: 1px solid var(--color-third);	
	color: var(--color-third);
	font-size: 1.2rem;
	margin-top: 0;
}
.detox_right span {
	font-size: 1.3rem;
	font-weight: 700;
}
.detox_right h4 {
	margin-top: 0.5rem;
	font-family: Cafe24Danjunghae;
	font-weight: normal;
}
blockquote.detox_quote {
	margin-bottom: 5rem;
}
blockquote.detox_quote p {
	color: var(--color-third);
	font-family: Gyeonggi_Batang_Regular;
	font-weight: normal;
	font-size: 1.2rem;
	line-height: 1.6;
}

.table-normal {
	border: 1px solid #999;
	width: 100%;
	margin: 0 auto;
}
.table-normal th, .table-normal td {
	border: 1px solid #999;
	font-size: 0.8rem;
	line-height: 1.2;
	padding: 0.4rem;
}
.table-normal th {
	background-color: #f0f3f9;
	font-weight: 500;
}
.table-normal caption {
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.3;
	letter-spacing: -0.01rem;
	margin-bottom: 1rem;
	text-align: left;
}


@media (max-width:767px) {
	.article-header-wrap {
		padding-top: 1rem;
	}
    .article-header-container.grid {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        gap: 0;
    }
    .article-header-text {
    	padding-bottom: 0;
    }
    .article-header-text h2 {
    	font-size: 2.2rem;
    	word-break: keep-all;
    	width: 80%;
    }
    .article-header-text h3 {
    	font-size: 2.2rem;
    }
    .article-header-text span {
    	font-size: 0.7rem;
    	margin-bottom: 0.5rem;
    }
    .article-header-text h4 {
        font-size: 1rem;
        word-break: keep-all;
    }
    .article-header-image {
    	display: flex;
    	justify-content: flex-end;
    	margin-top: -2rem;
    }
    .article-header-image figure {
    	width: 80%;
    	transform: rotate(3deg) translateY(2rem);
    }
    .article-epilogue {
    	padding: 1.5rem 1.5rem 0;
    }
    .article-epilogue p {
    	font-size: 1rem;
    }
    .article-image {
    	width: 100vw;
    }
    .article-image-container.gap-10 {
    	gap: 0.2rem;
    }
    .article-body.pd-b-100 {
    	padding-bottom: 3rem;
    }
    .article-text h4 {
    	word-break: keep-all;
    }
    .article-text blockquote p {
    	font-size: 1.2rem;
    	width: 90%;
    }
    .recipe_container {
    	display: flex;
    	flex-direction: column;
    	width: 95%;
    	margin: 0 auto;
    	gap: 0.5rem;
    }
}

